<template>
<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      {{title}}
    </p>
  
  </header>
  <div class="card-content">
    <div class="content">
       {{sumary}}
    </div>
  </div>
  <footer class="card-footer">
    <a href="#" class="card-footer-item">Save</a>
    <a href="#" class="card-footer-item">Edit</a>
 
  </footer>
</div>
</template>
<script>
export default {
    name : "card",
    props: ['sumary','title']
}
</script>
