<template>
<nav class="navbar is-dark" role="navigation" aria-label="dropdown navigation">
        <div class="navbar-end">

  <div class="navbar-item has-dropdown is-hoverable is-fixed">
    <a class="navbar-link">
     MENU
    </a>

    <div class="navbar-dropdown is-right">
      <a class="navbar-item">
        Filtre
      </a>
      <a class="navbar-item">
        Deconnexion
      </a>
    
    </div>
  </div>
        </div>
</nav>
</template>
<script>
export default {
    name : "navbar"
}
</script>

