<template>
  <div id="app">
      <router-view name="Navbar">
        
      </router-view>
  <div id="main">
     <router-view name="EnsCard">
        
      </router-view>

  </div>

  </div>
</template>

<script>
export default {
  
}
</script>

<style>

#main{
  margin: 5%;
}
</style>
